<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>hbs view nestjs</title>
</head>
<body>
    <h1 class="title">view in nestjs</h1>
    <div>
        <h1>{{name}} - {{work}}</h1>
    </div>

    <figure>
        <img src="img/2lFhd.jpg" width="100" height="100" alt="NestJS Requset/Response Pipeline">
        <figcaption>
            NestJS Requset/Response Pipeline
        </figcaption>
    </figure>
</body>
</html>